<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <div>
            <form method="post" action="http://localhost:5000/up_photo" enctype="multipart/form-data">
                <input type="file" size="30" name="photo"/> <br>
                nft_name：<input type="text" class="txt_input" name="nft_name" style="margin-top:15px;"/> <br>
                creator_name：<input type="text" class="txt_input" name="creator_name" style="margin-top:15px;"/> <br>
                description：<input type="text" class="txt_input" name="description" style="margin-top:15px;"/> <br>
                type：<input type="text" class="txt_input" name="type" style="margin-top:15px;"/> <br>
                style：<input type="text" class="txt_input" name="style" style="margin-top:15px;"/> <br>
                date：<input type="text" class="txt_input" name="date" style="margin-top:15px;"/> <br>
                number：<input type="text" class="txt_input" name="number" style="margin-top:15px;"/> <br>
                theme：<input type="text" class="txt_input" name="theme" style="margin-top:15px;"/> <br>
                serial_number：<input type="text" class="txt_input" name="serial_number" style="margin-top:15px;"/> <br>
                <input type="submit" value="提交信息" class="button-new" style="margin-top:15px;"/>
            </form>
        </div>
    </body>
</html>